<h1>Profile#index</h1>
<p id="notice"><%= notice %></p>
<div class="row justify-content-center m-0 text-center">
  <div class="col-8 text-dark rounded p-4">
    <%= link_to 'Tabla de poblaciones', populations_path %>
    ||
    <%= link_to 'Tabla de actividades', activities_path %>
    ||
    <% if current_user.can?(TestTecnical::CREATE_USER) %>
      <%= link_to 'New User', new_profile_path %>
    <% end %>
    <h1>Users</h1>
      <br>
      <div class="row justify-content-center">
        <table class="table-border-less table-striped ">
        <thead class="bg-dark text-white rounded">
          </tr>
            <th class="p-3">Name</th>
            <th class="p-3">Last name</th>
            <th class="p-3">Rol</th>
            <th class="p-3">Email</th>
            <th class="p-3" colspan="3">Options</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td class="p-2" ><%= user.name %></td>
              <td class="p-2" ><%= user.last_name %></td>
              <td class="p-2" ><%= user.rol_id %></td>
              <td class="p-2" ><%= user.email %></td>
              <td class="p-2" ><%= link_to 'Show', profile_path(user) %></td>
              <td class="p-2" ><%= link_to 'Edit', edit_profile_path(user) %></td>
              <td class="p-2" ><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
