<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
<div class="row justify-content-center m-0">
  <div class="col-4 bg-dark text-white rounded p-4">

  <%= hidden_field_tag 'user_id', @user.id %>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Email :</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Rol:</strong>
      <%= @user.rol_id %>
    </p>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
    </div>
  </div>

    <table>
    <thead>
        <tr>
        <th>Name</th>
        <th> Apply</th>
        </tr>
    </thead>

    <tbody>
        <% @permissions.each do |permission| %>
        <tr>
          <td><%= permission.name %></td>
          <td><%= check_box_tag "permissions[apply][]", permission.code, @user.can?(permission.code), class: 'permissions_apply'%></td>
        </tr>
        <% end %>
    </tbody>
    </table>
    <script type="text/javascript">
    $(document).ready(function(){
      status_permission();
    });
    function status_permission(){
      $.each($(".permissions_apply"), function(index){
        $(this).click(function(){
          if($(this).is(":checked")){
              edit_status_permission({
                code: $(this).val(),
                apply: true,
                user_id: $("#user_id").val()
              })
          }
          else {
              edit_status_permission({
              code: $(this).val(),
              apply: false,
              user_id: $("#user_id").val()
              })
          }
      });
    });  
  }
  function edit_status_permission(oParams){
    $.ajax({
      url:"<%= edit_status_permission_profile_path(format: :json) %>",
      data: {
        id: oParams.user_id,
        code: oParams.code,
        apply: oParams.apply,
        authenticity_token: window._token
      },
      type: "POST",
      success: function(request){
        console.log(request);

        Swal.fire({
        position: 'center-center',
        icon: 'success',
        title: 'Your work has been saved',
        showConfirmButton: false,
        timer: 1500
        })

      },
      error: function(a, b, c){
        console.log(a);
        console.log(b);
        console.log(c);
        
        Swal.fire({
          position: 'top-end',
          icon: 'error',
          title: 'Your work not has been saved',
          showConfirmButton: false,
          timer: 1500
        })

      }
    })
  }
  
    </script>