<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :date_birth %><br />
    <%= f.date_field :date_birth %>
  </div>

  <div class="form-group">
  <%= f.label :rol, class: 'contro-label' %>
  <div class="col-md-7">
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-plane"></span>
      </span>
      <select name="user[rol_id]" id="user_rol"></select>
    </div>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script type="text/javascript">
    $(document).ready(function(){
        $("#user_rol").select2({
            width: "330px",
            minimumInputlength: 1,
            debug: true,
            ajax: {
                url: "<%= rols_path(format: :json) %>",
                dataType: 'json',
                delay: 250,
                data: function (params){ 
                    return {
                        type: "select2",
                        q: params.term
                    };
                },
                processResults: function (data, page) {
                    return {
                        results: $.map(data, function (rol) {
                            return {
                                text:`${rol.name}`,
                                id: rol.id
                            }
                        })
                    }
                },
                cache:true
            },
            escapeMarkup: function (markup) { return markup; },
            theme: "bootstrap",
            placeholder: "Escriba un caracter"
        });
    });
    </script>
