<%= now = DateTime.now
age = now.year - current_user.date_birth.year
age = -1 if(now.yday < current_user.date_birth.yday) %>
edad <%= age %> 
<% if current_user.rol == "Administrador" %>
<br />
<%= link_to 'Tabla de actividades', activities_path %>
<br />
<%= link_to 'Tabla de poblacion', populations_path %>
<br />
<%= link_to 'Tabla de usuarios', profiles_path %>
<p id="Administradortxt">You are an Administrador!</p>
<% else %>
<p id="Administradortxt">You are an Usuario!</p>
<%= link_to 'Tabla de actividades', activities_path %>
<% end %>
