<%= now = DateTime.now
age = now.year - current_user.date_birth.year
age = -1 if(now.yday < current_user.date_birth.yday) %>
edad <%= age %> 
<br />
<%= link_to 'Tabla de actividades', activities_path %>
<br />
<%= link_to 'Tabla de poblacion', populations_path %>
<br />
<%= link_to 'Tabla de usuarios', profiles_path %>
<br />
<%= link_to 'Tabla de roles', rols_path %>
<br />
<%= link_to 'Tabla de permisos', permissions_path %>
<p id="Administradortxt">You are an Administrador!</p>