<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @permission.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @permission.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @permission.description %>
</p>

<p>
  <strong>Apply:</strong>
  <%= @permission.apply %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
