<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_date %>
    <%= form.date_field :event_date, id: :event_date %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :activity_name %>
  </div>

  <div class="field">
    <%= form.label :descrption %>
    <%= form.text_field :descrption, id: :activity_descrption %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place, id: :activity_place %>
  </div>

  <div class="form-group">
    <%= form.label :populations_id, class: 'contro-label' %>
    <div class="col-md-7">
      <div class="input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-plane"></span>
        </span>
        <select name="activity[populations_id]" id="activity_populations_id"></select>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script type="text/javascript">
    $(document).ready(function(){
        $("#activity_populations_id").select2({
            width: "330px",
            minimumInputlength: 1,
            debug: true,
            ajax: {
                url: "<%= populations_path(format: :json) %>",
                dataType: 'json',
                delay: 250,
                data: function (params){ 
                    return {
                        type: "select2",
                        q: params.term
                    };
                },
                processResults: function (data, page) {
                    return {
                        results: $.map(data, function (population) {
                            return {
                                text:`${population.type_population}`,
                                id: population.id
                            }
                        })
                    }
                },
                cache:true
            },
            escapeMarkup: function (markup) { return markup; },
            theme: "bootstrap",
            placeholder: "Escriba un caracter"
        });
    });
    </script>
