<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_date %>
    <%= form.date_field :event_date, id: :event_date %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :activity_name %>
  </div>

  <div class="field">
    <%= form.label :descrption %>
    <%= form.text_field :descrption, id: :activity_descrption %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place, id: :activity_place %>
  </div>

  <div class="field">
    <%= form.label :populations_id %>
    <%= form.text_field :populations_id, id: :activity_populations_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
