<p id="notice"><%= notice %></p>
<div class="row justify-content-center m-0 text-center">
  <div class="col-8 text-dark rounded p-4">
    <%= link_to 'Tabla de poblaciones', populations_path %>
    ||
    <%= link_to 'Tabla de usuarios', users_path %>
    ||
    <%= link_to 'New Activity', new_activity_path %>

    <h1>Activities</h1>

    <div class="row justify-content-center">
      <table class="table-border-less table-striped ">
        <thead class="bg-dark text-white rounded">
          </tr>
            <th class="p-3">Date</th>
            <th class="p-3">Name</th>
            <th class="p-3">Descrption</th>
            <th class="p-3">Place</th>
            <th class="p-3">Type population</th>
            <th class="p-3" colspan="3">Options</th>
          </tr>
        </thead>

        <tbody>
          <% @activities.each do |activity| %>
            <tr>
              <td class="p-2"><%= activity.event_date %></td>
              <td class="p-2"><%= activity.name %></td>
              <td class="p-2"><%= activity.descrption %></td>
              <td class="p-2"><%= activity.place %></td>
              <td class="p-2"><%= activity.populations_id %></td>
              <td class="p-2"><%= link_to 'Show', activity %></td>
              <td class="p-2"><%= link_to 'Edit', edit_activity_path(activity) %></td>
              <td class="p-2"><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </tbody>
          </table>
        </div>
      </div>
    </div>

