<p id="notice"><%= notice %></p>
<h1>Bienvenido <%= current_user.name %></h1>
<%= link_to 'Tabla de actividades', activities_path %>

<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Descrption</th>
      <th>Place</th>
      <th>Type population</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.date %></td>
        <td><%= activity.name %></td>
        <td><%= activity.descrption %></td>
        <td><%= activity.place %></td>
        <td><%= activity.type_population %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
