<p id="notice"><%= notice %></p>

<h1>Populations</h1>

<table>
  <thead>
    <tr>
      <th>Type population</th>
      <th>Age init</th>
      <th>Age end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @populations.each do |population| %>
      <tr>
        <td><%= population.type_population %></td>
        <td><%= population.age_init %></td>
        <td><%= population.age_end %></td>
        <td><%= link_to 'Show', population %></td>
        <td><%= link_to 'Edit', edit_population_path(population) %></td>
        <td><%= link_to 'Destroy', population, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Population', new_population_path %>
